.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #F2F2F2;


  display: flex;
  flex-direction: column;
  max-width: calc(1442px + 28px);
  padding-inline: 14px ;
  width: 100%;

  min-height: 100svh;


}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
