.Header {
  width: 100%;
  margin-bottom: 105px;
  margin-top: 55px;

  h1 {
    height: 132px;
    border-radius: 15px;
    background: #777;
    text-align: center;
    color: #F0F0F0;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}