.PhoneInput {

  width: 401px;
  height: 68px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #222;
  padding: 12px 16px;
  margin: 0;
  border: 0;
  color: #F0F0F0;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}